.champion {
    position: relative;
    cursor: pointer;
}
#summoner .champion .tooltip{
    top: 100%;
    width: 300px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--tooltip-border);
}
#summoner .champion:hover .tooltip {
    opacity: 1;
    visibility: visible;
}
.champion .champion-icon{
    width: 90%;
    height: auto;
    border-radius: 50%;
    border: 5px solid var(--icon-border);
}
.champion .header .champion-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--icon-border);
}
.champion .tooltip .abilities .ability-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}