#item {
    position: relative;
    cursor: pointer;
}
#item img{
    width: 40px;
    height: 40px;
    border-radius: 30%;
}
.last{
    position: relative;
    border-radius: 50%;
    grid-column: 4;
    grid-row: 1 / span 2;
    bottom: -20px;
    height: 40px;
}
#item .tooltip{
    top: 105%;
    width: 300px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#item:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

#item .tooltip .from,
#item .tooltip .into {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#item .tooltip .from .items,
#item .tooltip .into .items {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: nowrap;
    overflow-x: hidden;
    height: auto;
}