#item {
    position: relative;
    cursor: pointer;
}
#item .item-img, #item.empty {
    width: 40px;
    height: 40px;
    border-radius: 30%;
}
#item.empty{
    background-color: rgba(224, 198, 138, 0.3);
    filter: blur(1px);
}
.last{
    position: relative;
}
#item .tooltip{
    top: 105%;
    bottom: auto !important;
    text-align: initial !important;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#item:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

#item .tooltip p {
    white-space: normal;
}

#item .tooltip .header img {
    width: 40px;
    height: 40px;
    border-radius: 30%;
}

#item .tooltip .description {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#item .tooltip .description div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#item .tooltip .description span {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#item .tooltip .description span p{
    margin-left: 10px;
}

#item .tooltip .from,
#item .tooltip .into {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#item .tooltip .from .items,
#item .tooltip .into .items {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: nowrap;
    overflow-x: hidden;
    height: auto;
}