.item {
    position: relative;
    cursor: pointer;
}
.item img{
    width: 40px;
    height: 40px;
    border-radius: 30%;
}
.last{
    position: relative;
    border-radius: 50%;
    grid-column: 4;
    grid-row: 1 / span 2;
    bottom: -20px;
    height: 40px;
}
#summoner .item .tooltip{
    top: 105%;
    width: 300px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#summoner .item:hover .tooltip {
    opacity: 1;
    visibility: visible;
}
#summoner .item .tooltip .tags{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}
#summoner .item .tooltip .tags span {
    background-color: var(--secondary-bg);
    border-radius: 5px;
    border: 1px solid var(--secondary-border);
    padding: 5px;
}
#summoner .item .tooltip .tags .tag p{
    font-size: 12px;
}