#match p {
    margin: 0;
}
#match{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 800px;
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
}
.win{
    background-color: var(--win-color);
}
.loss{
    background-color: var(--loss-color);
}
#match .game-status{
    display: flex;
    flex-direction: column;
    width: 100px;
    gap: 10px;
    font-size: 15px;
    align-items: center;
}
#match .game-status hr{
    width: 100%;
    margin: 0;
}
#match .player-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    gap: 20px;
}
#match .player-champion-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
#match .player-champion-items .champion-summoner{
    width: 100px;
    height: 100px;
    align-items: center;
    margin: 0;
}
#match .player-champion-items .champion-summoner figcaption{
    position: relative;
    background-color: var(--icon-border);
    width:30px;
    padding: 5px 0px;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    color: var(--icon-text);
    bottom:25px;
    left: 75px;
}
#match .player-champion-items .items{
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    grid-template-rows: repeat(2, 40px);
    gap: 5px;
    height: 85px;
    margin: 0;
}
#match .player-champion-items .items .empty{
    width: 40px;
    background-color: rgba(224, 198, 138, 0.3);
    border-radius: 30%;
    filter: blur(1px);
}
#match .player-stats{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 12px;
}
#match .player-stats .kda {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    gap: 10px;
    position: relative;
}
#match .player-stats .kda .tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    bottom: 110%;
    white-space: nowrap;
}
#match .player-stats .kda .tooltip p{
    font-size: 11px;
    width:auto;
}
#match .player-stats .kda:hover .tooltip{
    opacity: 1;
    visibility: visible;
}
#match .player-stats .kda .kill_death_assists{
    font-size: 14px;
    margin: 0;
}
#match .player-stats .kda .ratio{
    font-size: 12px;
    margin: 0;
}
#match .player-stats .damage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 150px;
}
#match .player-stats .damage .damage-section{
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: center;
    position: relative;
}
#match .player-stats .damage .damage-section .tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    bottom: 110%;
    white-space: nowrap;
}
#match .player-stats .damage .damage-section .tooltip p{
    font-size: 11px;
    width:auto;
}
#match .player-stats .damage .damage-section:hover .tooltip{
    opacity: 1;
    visibility: visible;
}
#match .player-stats .damage p{
    font-size: 12px;
    margin: 0;
    width:50px;
}
#match .player-stats .cs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    position: relative;
}
#match .player-stats .cs .tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    bottom: 110%;
    white-space: nowrap;
}
#match .player-stats .cs .tooltip p{
    font-size: 11px;
}
#match .player-stats .cs:hover .tooltip{
    opacity: 1;
    visibility: visible;
}
#match .player-stats .cs p{
    margin: 0;
}
#match .player-stats .vision {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    position: relative;
}
#match .player-stats .vision .tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    bottom: 110%;
    white-space: nowrap;
}
#match .player-stats .vision .tooltip p{
    font-size: 11px;
}
#match .player-stats .vision:hover .tooltip{
    opacity: 1;
    visibility: visible;
}
#match .player-stats .vision p{
    margin: 0;
}
#match .team-composition{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    gap: 10px;
    width: 320px;
}
#match .team-composition .team {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
#match .team-composition .team .player{
    display: flex;
    position:relative;
    flex-direction: row;
    gap: 5px;
    margin: 0;
    cursor: pointer;
}
#match .team-composition .team .player .tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    bottom: 80%;
    white-space: nowrap;
}
#match .team-composition .team .player .tooltip p{
    font-size: 11px;
}
#match .team-composition .team .player:hover .tooltip{
    opacity: 1;
    visibility: visible;
}
#match .team-composition .team .player img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #53472f;
}
#match .team-composition .team .player figcaption{
    margin-top: 10px;
    width: 110px;
    height: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}