#match-history{
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 500px;
    gap: 10px;
}
#match-history .match p {
    margin: 0;
}
#match-history .match{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 690px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
}
.win{
    background-color: var(--win-color);
}
.loss{
    background-color: var(--loss-color);
}