:root {
    --primary-bg: #2E2E3A;
    --tooltip-bg: #2B2B36;
    --tooltip-border-color: #4C566A;
    --nav-bg: #1F1F28;
    --title-color: #D4B573;
    --text-color: #E0E0E0;
    --hover-text-color: #FFFFFF;
    --hover-item-bg: #ffffff4d;
    --secondary-bg: #40404A;
    --secondary-border: #5A5A66;
    --enhance-red: #ff8164;
    --enhance-gold: #C8AA6E;
    --icon-border:#C8AA6E;
    --icon-text:#4A3C2C;
    --win-color: #3A6D78;
    --win-color-enhance: #4B8B99;
    --loss-color: #784545;
    --loss-color-enhance: #9D5858;
    --primary-button: #2C3E50;
}
  
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../font/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../font/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../font/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Merriweather-Regular';
    src: url('../font/Merriweather-Regular.ttf');
}
@font-face {
    font-family: 'Merriweather-Bold';
    src: url('../font/Merriweather-Bold.ttf');
}
@font-face {
    font-family: 'Merriweather-Black';
    src: url('../font/Merriweather-Black.ttf');
}
h1, h2, h3 {
    font-family: 'Merriweather-Bold';
    color: var(--text-color);
}
h4, h5, h6, span {
    font-family: 'Merriweather-Regular';
    color: var(--text-color);
}
button, input, textarea, p, figcaption, li, th, td{
    font-family: 'Roboto-Regular';
    color: var(--text-color);
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg);
}
.page {
    margin-top: 58px;
    min-width: 1300px;
}
.enhance{
    font-family: 'Roboto-Bold';
}
.enhance.red {
    color: var(--enhance-red);
}
.enhance.gold {
    color: var(--enhance-gold);
}